* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
}

body {
    display: grid;
    place-content: center;
}

#showsSection {
    height: 80vh;
    min-width: 60vw;
    max-width: 70vw;
    background-color: rgb(106, 207, 4);
    border-radius: 24px;
    padding: 40px;
    padding-right: 24px;
    z-index: 10;
}

#showsList {
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 90%;
    background-color: chartreuse;
    border-radius: 16px;
    padding-left: 12px;
}

#showsList::-webkit-scrollbar {
    width: 0.8rem;
}

#showsList::-webkit-scrollbar-track {
    background-color: chartreuse;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
}

#showsList::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: rgb(89, 177, 2);
    outline: none;
}

li {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: large;
}

.showInput {
    font-size: large;
    border: none;
    width: 96%;
    margin-right: 4%;
    margin-bottom: 16px;
    height: 1.8rem;
    padding-left: 8px;
    border-radius: 8px;
}

.showInput:focus {
    outline: 1px dotted greenyellow;
}

#clearStorageBtn {
    position: relative;
    top: -102%;
    right: -82%;
    color: darkslategray;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 16px;
}

@media (max-width: 700px) {
    #showsSection {
        width: 80vw;
    }
}